extends layout

block content
  h1= "Arithmetic Operation Page"
  p Addition of numbers is #{sum}
  p Substraction of numbers is #{sub}
  p Multiplication of numbers is #{mul}
  p Division of numbers is #{div}
